/**
 * Lamark
 *
 * Creative Portfolio Template
 *
 * v1.1.1
 * By Amcode
 */



/**
 * [TABLE OF CONTENTS]
 *
 * - BASICS
 * - LAYOUT
 * - TYPOGRAPHY
 * - LISTS
 * - FORMS
 * - BUTTONS
 * - MISC
 */



/** == BASICS == */
/** ================================================== */
	
	html,body {
		height: 100%;
	}

	html { font-size: 62.5%; }

	body {
		font-family: 'source_sans_proregular', sans-serif;
		font-size: 1.5em;
		font-weight: 400;
		line-height: 1.6;
		letter-spacing: 0.05em;
		color: #1E2023;
		background: #FFFFFF;

		-webkit-font-smoothing: antialiased;
	}

	*,
	*:before,
	*:after {
		margin: 0;
		padding: 0;
		outline: none;
		border: none;

		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	::selection {
		color: #FFFFFF;
		background: #1E2023;
	}

	::-moz-selection {
		color: #FFFFFF;
		background: #1E2023;
	}



/** == LAYOUT == */
/** ================================================== */

	.container {
		width: 100%;
		margin: 0 auto;
		position: relative;
	}

	.column, .columns {
		float: left;
		padding: 0 25px;
		position: relative;
	}

	.column[data-span="1"] { width: 8.33%; }
	.column[data-span="2"] { width: 16.66%; }
	.column[data-span="3"] { width: 25%; }
	.column[data-span="4"] { width: 33.33%; }
	.column[data-span="5"] { width: 41.66%; }
	.column[data-span="6"] { width: 50%; }
	.column[data-span="7"] { width: 58.33%; }
	.column[data-span="8"] { width: 66.66%; }
	.column[data-span="9"] { width: 75%; }
	.column[data-span="10"] { width: 83.33%; }
	.column[data-span="11"] { width: 91.66%; }
	.column[data-span="12"] { width: 100%; }

	.row {
		display: block;
		position: relative;
		margin: 0;
	}

	.clearfix:before,
	.clearfix:after {
		display: block;
		content: '';
		width: 0;
		height: 0;
		overflow: hidden;
		visibility: hidden;
	}

	.clearfix:after { clear: both; }



/** == TYPOGRAPHY == */
/** ================================================== */

	a {
		text-decoration: none;
		color: inherit;
		cursor: pointer;
  		color: #1E2023;
	}
	a:hover,
	a:focus {
  		color: #23527c;
  		text-decoration: underline;
	}
	a:focus {
  		outline: thin dotted;
  		outline: 5px auto -webkit-focus-ring-color;
  		outline-offset: -2px;
  	}

	/** Headings */
	h1, h2, h3, h4, h5, h6 {
		text-transform: none;
		font-weight: normal;
		color: #1E2023;
		letter-spacing: 0;
	}

	h1 { font-size: 3em; }
	h2 { font-size: 2.4em; }
	h3 { font-size: 2em; }
	h4 { font-size: 1.6em; }
	h5 { font-size: 1.2em; }
	h6 { font-size: 1em; }

	/** Paragraphs */
	p { margin-top: 25px; }
	p:first-child { margin-top: 0; }

	/** Blockquotes */
	blockquote {
		text-transform: uppercase;
		padding: 25px;
		color: #999999;
		letter-spacing: 0.1em;
		margin-top: 25px;
		border-left: 4px solid #E1E1E1;
	}

	blockquote:first-child { margin-top: 0; }



/** == LISTS == */
/** ================================================== */

	ul { list-style: disc inside; }
	ol { list-style: decimal inside; }

	ul,
	ol,
	dl { margin-top: 25px; margin-bottom: 25px; }

	ul:first-child,
	ol:first-child { margin-top: 0; }

	ul ul,
	ul ol,
	ol ol,
	ol ul { margin: 0 0 0 25px; }

	ul.nostyle { list-style: none !important; }

	dl dt { font-weight: bold; }
	dl dd { margin-bottom: 15px; }



/** == FORMS == */
/** ================================================== */

	form { margin-top: 25px; }
	form:first-child { margin-top: 0; }

	.form-group {
		display: block;
		position: relative;
		margin-top: 15px;
	}

	.form-group:first-child { margin-top: 0; }

	input[type=text],
	input[type=password],
	input[type=number],
	input[type=search],
	input[type=tel],
	input[type=url],
	input[type=email],
	textarea,
	select,
	.form-control {
		width: 100%;
		font-family: 'Source Sans Pro', sans-serif;
		padding: 0.9em 1.2em;
		color: #1E2023;
		border: 1px solid #E1E1E1;
		background: #FFFFFF;
	}

	textarea {
		flex-direction: column;
		height: 125px;
		resize: auto;
		cursor: auto;
	}

	label {
		display: block;
		margin-bottom: 5px;
		font-weight: 700;
	}

	::-webkit-input-placeholder { /* WebKit browsers */
		font-size: 1.06em;
	}
	:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
		font-size: 1.06em;
	}
	::-moz-placeholder { /* Mozilla Firefox 19+ */
		font-size: 1.06em;
	}
	:-ms-input-placeholder { /* Internet Explorer 10+ */
		font-size: 1.06em;
	}	



/** == BUTTONS == */
/** ================================================== */



/** == TABLE == */
/** ================================================== */

	table, th, td {
	    border: 1px dotted #e7e7e7;
	}
	table {
	    border-collapse: separate;
	    margin-bottom: 21px;
	    width: 100%;
	    border-right: 0;
	    border-bottom: 0;
	    margin-top: 25px;
	}
	th, td {
	    font-weight: normal;
	}
	th {
	    border-width: 0 1px 1px 0;
	    font-weight: bold;
	    padding: 7px 10px;
	    text-align: left;
	}
	td {
	    border-width: 0 1px 1px 0;
	    padding: 5px;
	}
	th {
	    color: #757575;
	}


/** == CODE == */
/** ================================================== */

	tt,
	kbd,
	pre,
	code,
	samp {
		color: #859093;
		border: 1px solid #f3f4f5;
		padding: 1px 3px;
		padding:  0.0625rem 0.1875rem;
		word-spacing: -1px;
		word-spacing: -0.0625rem;

		-webkit-hyphens: none;
		-moz-hyphens: none;
		-ms-hyphens: none;
		hyphens: none; 
	}

	pre {
		font-size: 1em;
		white-space: pre-wrap;
		position: relative;
		background: #f7f7f7;
		margin: 1.6em 0;
		padding: 3% 4%;
		overflow: auto;
		max-width: 100%;
		tab-size: 4;
	}



/** == MISC == */
/** ================================================== */

	/** Floats */
	.float-left { float: left; }
	.float-right { float: right; }

	/** Text formats */
	.text-center { text-align: center; }
	.text-left { text-align: left; }
	.text-right { text-align: right; }



/** == WP CAPTIONS == */
/** ================================================== */

	.wp-caption {
	  margin-bottom: 1.6em;
	  max-width: 100%;
	}

	.wp-caption img[class*="wp-image-"] {
	  display: block;
	  margin: 0;
	}

	.wp-caption-text {
	  font-size: 15px;
	  line-height: 1.5;
	  padding: 0.5em 0;
	  text-align: center;
	  margin: 0;
	}


/** == WP CLASSES == */
/** ================================================== */

	.alignleft {
	  display: inline;
	  float: left;
	}

	.alignright {
	  display: inline;
	  float: right;
	}

	.aligncenter {
	  display: block;
	  margin-right: auto;
	  margin-left: auto;
	}

	blockquote.alignleft,
	.wp-caption.alignleft,
	img.alignleft {
	  margin: 0.4em 1.6em 1.6em 0;
	}

	blockquote.alignright,
	.wp-caption.alignright,
	img.alignright {
	  margin: 0.4em 0 1.6em 1.6em;
	}

	blockquote.aligncenter,
	.wp-caption.aligncenter,
	img.aligncenter {
	  clear: both;
	  margin-top: 0.4em;
	  margin-bottom: 1.6em;
	}

	.wp-caption.alignleft,
	.wp-caption.alignright,
	.wp-caption.aligncenter {
	  margin-bottom: 1.2em;
	}

	.sticky {}
	.screen-reader-text {}
	.gallery-caption {}
	.bypostauthor {}