/**
 * Lamark
 *
 * Creative Portfolio Template
 *
 * v1.0.0
 */



/** == MEDIA QUERIES == */
/** ================================================== */

	@media (min-width: 1025px) {

		.site-menu li ul ul {
			top: 15%;
			left: 100%;
			border-left: 3px solid #fff;
		}

	}
	@media (max-width: 1480px) {
		.container { width: 100%; }
	}
	@media (max-width: 1024px) {

		.container { width: 100%; }
		.column { width: 100% !important; margin-bottom: 25px; }
		.column:last-child { margin-bottom: 0; }
		.tjenester { max-width: 835px; }
	}

	@media (max-width: 960px) {
        .tjenester { max-width: 555px; }
		.site-menu {
			width: 100%;
			position: absolute;
			top: 80px;
			left: 0;
			z-index: 3;
			background: #FFFFFF;
		}

		.site-menu li {
			display: block;
			position: relative;
			margin: 0;
			line-height: 50px;
		}

		.site-menu li a {
			display: block;
			text-align: left;
			padding: 0 25px;
			border-top: 1px solid #F1F1F1;
		}

		.site-menu li:first-child a { border-top: none; }

		.site-menu li ul {
			width: 100%;
			display: block;
			position: relative;
			background: #FFFFFF;
		}

		.site-menu li ul li a {
			color: #000000;
			padding: 6px 0;
			border: none;
		}

		.site-menu li > ul {
			padding: 0 50px;
			margin-bottom: 25px;
		}

		.site-menu li ul li.current-menu-item a,
		.site-menu li ul li a:hover { color: inherit; }

		.site-menu li ul li.current-menu-item a:after { 
			content: '.';
			font-size: 28px;
			color: #FF0C00;
			line-height: 0;
			padding-left: 2px;
			position: absolute;
			top: 4px;
		}	

		.hero-header {
			width: 70%;
			padding: 50px 25px;
		}

		.parallax { background-position: center center; }

	}

	@media (max-width: 768px) {
		.tjenester { max-width: 555px; }
	}
    @media (max-width: 690px) {
        .tjenester { max-width: 310px; }
    }
    @media (max-width: 568px) {
        .tjenester { max-width: 310px; }
    }
	@media (max-width: 560px) {
		.tjenester { max-width: 310px; }
		.hero-header {
			width: 90%;
			padding: 50px 25px;
			outline-offset: 4px;
		}

	}

	@media (max-width: 320px) {
		.tjenester { max-width: 300px; }
		.container { width: 100%; }

		.filters li {
			display: block;
			position: relative;
			margin-top: 5px;
		}

		.filters li:first-child { margin-top: 0; }

		.filters li a {
			display: block;
			padding: 10px 0;
			background: #F1F1F1;
		}

		.hero-header-title { font-size: 1.4em; }

		.entry-fix-caption { display: none; }

		.share li {
			display: block;
			position: relative;
		}

		.share.share-project li,
		.share.share-blog li { margin: 5px 0 0; }

		.share.share-project li:first-child,
		.share.share-blog li:first-child { margin-top: 0; }

		.share.share-blog li a { padding: 10px 0; }

		.blog .entry .blog-meta > div { width: 100%; }
		.blog .entry .blog-meta .social-icons {
			border-right: 0;
			border-left: 0;
			border-top: 1px solid rgba(0, 0, 0, 0.1);
			border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		}
	}
	/* min-width 641px, medium screens */
	@media only screen and (min-width: 40.063em) {
        #site-footer {
            padding: 0 1.15385rem;
            position: fixed;
            height: 32px;
        }
        #site-footer .social-media {
            display: block;
            float: left;
            text-align: left;
        }
        #site-footer .social-media li {
            margin: 0 10px 0 10px;
        }
        #site-footer .social-media li a i {
            margin: 0 10px 0 0;
        }
        #site-footer .credits {
            display: block;
            float: right;
            margin: 0 0 20px 0;
        }
    }
